rocks_trees = {
   { name = [[user]], root = home..[[/.luarocks]] },
   { name = [[system]], root = [[{{luajit_dir}}]] }
}

{% if proxy_env.http_proxy is defined %}
proxy = "{{proxy_env.http_proxy}}"
{% endif %}

{% if luarocks_servers is defined %}
rocks_servers = { { {% for rs in luarocks_servers %}"{{rs}}"{% if not loop.last %},{% endif %}{% endfor %} } }
{% endif %}


